# no pyc or DS_Store (for MacOS) files
*.pyc
*.DS_Store
*.log

# no NutMEG databases
NutMEG_db
NutMEG/data/synthesis/EColiSynth
NutMEG/data/TPdb

# docs/
docs/_build
docs/source/api/NutMEG
docs/source/api/index.rst

# No user-generated figures from examples
*.pdf
*.png

docsv2/
